::root {
    /* -- notes design -- */
    --note-background: #111;
    --note-: #111;
    --note-background: #111;
    /* -- notes content -- */
    --content-header: #111;
    --content-content: #222;
    --content-links: #333;
    --content-date: #444;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: "Crimson Pro", serif;
}

.nav-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 35px 25px 30px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #111;
    z-index: 1;

    .logo {
        color: #111;
        font-size: 38px;
        font-weight: 900;
        margin-right: 15px;
        text-decoration: none;
    }

    button {
        outline: none;
        border: 0;
        font-size: 20px;
        padding: 5px 8px;
        border-radius: 50vh;
        transition: .2s;
        background-color: #99BC85;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        background-color: #BFD8AF;
    }

    button:active {
        background-color: #D4E7C5;
        color: #fff;
    }

    .content-right {
        opacity: .75;
        color: #111;
        margin-left: auto;
        a {
            text-decoration: none;
            opacity: .75;
            color: #111;
            border-bottom: 1px solid #fff;
            transition: .2s;
        }
        a:hover {
            opacity: 1;
            border-bottom: 1px solid #111;
        }
    }
}

#container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    width: 1250px;
    padding: 100px 25px 50px 25px;
    .note {
        border: 1px solid #111;
        margin: 5px;
        width: 385px;
        padding: 15px;
        border-radius: 2px;
        transition: .2s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        input.caption {
            width: 100%;
            outline: none;
            border: 0;
            margin-bottom: 10px;
            padding: 5px;
            font-family: "Crimson Pro", serif;
            font-size: 28px;
            border-radius: 2px;
            transition: .2s;
        }

        textarea.content {
            width: 100%;
            min-height: 225px;
            resize: none;
            outline: none;
            border: 0;
            padding: 5px;
            margin-top: 10px;
            font-family: "Crimson Pro", serif;
            font-size: 22px;
            border-radius: 2px;
            transition: .2s;
        }

        hr {
            border: none;
            height: 1px;
            background: #111;
            background: repeating-linear-gradient(
                100deg,
                #111,
                #111 6px,
                transparent 6px,
                transparent 12px
                );
        }
    }
    .remove {
        outline: none;
        border: 0;
        color: #fff;
        visibility: visible;
        position: relative;
        background: none;
        font-size: 16px;
        color: #111;
        transition: .2s;
        cursor: pointer;
        padding-bottom: 5px;
    }
    .remove:hover {
        color: #F95454;
    }
}

@keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
}