/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

::-webkit-scrollbar {
    width: 0px;
}

/* Pallete */
:root {
    /* background */
    --background: #ffffff;
    --secondary: #f1f2f6;
    --shadow: rgba(0, 0, 0, 0.25);
    --box-shadow:rgba(0, 0, 0, 0.04) 0px 3px 5px;;
    --hover: #e6eaef;
        /* Text */
        --main-text: #1e272e;
        --secondary-text: #a4b0be;
        --deactivated-text: #6c757d;
        /* Colors */
        --blue:#1e90ff;
        --blue-hover: #329af0;
        --blue-active: #187ddc;
        --green: #2ed573;
        --yellow: #ffa502;
        --red: #ff4757;
        --red-hover: #ff6b81;
        --red-active: #e63946;
}

:root[theme='dark'] {
    /* background */
    --background: #2f3542;
    --secondary: #374050;
    --shadow:rgba(0, 0, 0, 0.5);
    --hover: #57606f;
        /* Text */
        --main-text: #f1f2f6;
        --secondary-text: #a4b0be;
        --deactivated-text: #747d8c;
        /* Colors */
        --blue:#1e90ff;
        --blue-hover: #329af0;
        --blue-active: #187ddc;
        --green: #2ed573;
        --yellow: #ffa502;
        --red: #ff4757;
        --red-hover: #ff6b81;
        --red-active: #e63946;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

a span {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
}
p span {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
}

body {
    background-color: var(--background);
}

button#menu {
    height: 50px;
    width: 50px;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
    border: 0;
    margin: 25px;
    position: absolute;
    background-color: var(--background);
    cursor: pointer;
    z-index: 2;
    transition: .25s;
    color: var(--main-text);
} button#menu:hover {
    background-color: var(--secondary);
} button#menu:active {
    background-color: var(--shadow);
}

/* Menu */
aside {
    background-color: var(--secondary);
    width: 400px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    overflow-y: auto;
    color: var(--main-text);
    animation-name: menuOpen;
    animation-duration: .25s;
    ul#header {
        img {
            height: 100px;
            object-fit: contain;
            margin-top: 25px;
            cursor: pointer;
            transition: .25s;
            opacity: .95;
        } img:hover {
            filter: drop-shadow(0 8px 24px rgb(0,0,0,.05));
            transform: translateY(-5px);
            opacity: 1;
        }
        h1 {
            font-family: "Nunito", serif;
            text-align: center;
            margin-top: 25px;
            font-size: 28px;
        }
    }
    ul {
        width: 100%;
        max-height: 425px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        font-size: 16px;
        overflow-y: auto;
        h3 {
            text-transform: uppercase;
            padding: 8px 15px;
            color: var(--secondary-text);
        }

        a {
            padding: 8px 15px;
            color: var(--main-text);
            text-decoration: none;
            transition: .25s;
            border-radius: 10px;
        } a:hover, a:active {
            background-color: var(--hover);
            cursor: pointer;
        } button.remove_note {
            border: 0;
            background: none;
            height: 25px;
            width: 25px;
            float: right;
            transition: .25s;
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
            color: var(--main-text);
            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        } button.remove_note:hover {
            color: var(--red);
        } a:hover button.remove_note {
            visibility: visible;
            opacity: 1;
        } p.author {
            padding: 15px;
            color: var(--deactivated-text);
        }
    }
    ul.workspaces {
        overflow-y: auto;
    }
}

/* Main */
main.app {
    display: flex;
    overflow-y: scroll;
    height: 100vh;
    section#note {
        margin: 25px;
        width: 100%;
        min-height: 50vh;
        overflow-y: scroll;
        img {
            height: 225px;
            width: 100%;
            object-fit: cover;
        }
        main.note-content {
            color: #1e272e;
            display: flex;
            flex-direction: column;
            animation-name: contentLoad;
            animation-duration: .15s;
            nav.note-manipulation {
                display: flex;
                align-items: center;
                justify-content: end;
                flex-direction: row;
                flex-wrap: nowrap;
                button#noteManipulationButton {
                    margin: 0px 15px;
                    float: right;
                    height: 50px;
                    width: 50px;
                    background: none;
                    border: 0;
                    outline: none;
                    font-size: 25px;
                    border-radius: 50px;
                    cursor: pointer;
                    background-color: var(--background);
                    transition: .25s;
                    color: var(--main-text);
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                } button#noteManipulationButton:hover {
                    background-color: var(--secondary);
                } button#noteManipulationButton:active {
                    background-color: var(--shadow);
                }
                div#droplist {
                    background-color: var(--secondary);
                    right: 0;
                    top: 85px;
                    right: 40px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    box-shadow: var(--shadow);
                    font-size: 16px;
                    position: absolute;
                    a.item {
                        color: var(--main-text);
                        transition: .25s;
                        cursor: pointer;
                        padding: 10px 50px 10px 15px;
                    } a.item:hover {
                        background-color: var(--hover);
                    } a.item:nth-child(1) {
                        border-radius: 10px 10px 0px 0px;
                    } a.item:nth-last-child(1) {
                        border-radius: 0px 0px 10px 10px;
                    }
                } .droplist:hover,a.item button {
                    background-color: var(--secondary);
                }

                pins {
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        outline: none;
                        border: 0;
                        background: none;
                        font-size: 16px;
                        border-radius: 10px;
                        color: var(--main-text);
                        cursor: pointer;
                        transition: .25s;
                        p {
                            display: none;
                            padding: 0 15px 0px 0px;
                        }
                        span {
                            transition: .25s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 30px;
                            height: 30px;
                            border-radius: 50px;
                            color: var(--main-text);
                            background-color: var(--secondary);
                            margin: 5px;
                        }
                    } button:hover {
                        span {
                            background-color: var(--hover);
                        }
                    }
                }
            }

            .icon {
                margin-top: -75px;
                font-size: 75px;
            }
            input {
                background-color: var(--background);
                font-family: "Nunito", serif;
                font-size: 36px;
                margin: 25px 5px 15px 5px;
                color: var(--main-text);
                font-weight: bold;
                border: 0;
                outline: 0;
            }
            textarea {
                background-color: var(--background);
                white-space: break-spaces;
                padding-bottom: 25px;
                outline: none;
                resize: none;
                height: 100vh;
                border: 0;
                color: var(--main-text);
                font-size: 20px;
                margin: 0px 5px 10px 5px;
                font-weight: normal;
            } input::placeholder, textarea::placeholder {
                color: var(--deactivated-text);
            }
        }
    } section#note::-webkit-scrollbar {display:none}
} main.app::-webkit-scrollbar {
    display: none;
}

/* Modals */
modals {
    background {
        width: 100%;
        height: 100vh;
        background-color: var(--shadow);
        backdrop-filter: blur(5px);
        position: absolute;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: modalOpen-background;
        animation-duration: .25s;
        modal_settings {
            border-radius: 10px;
            width: 500px;
            max-height: 750px;
            overflow-y: auto;
            position: absolute;
            background-color: var(--background);
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            animation-name: modalOpen;
            animation-duration: .25s;
            header {
                button#modal-close {
                    float: right;
                    outline: 0;
                    border: 0;
                    background: none;
                    font-size: 18px;
                    transition: .25s;
                    color: var(--main-text);
                } button#modal-close:hover {
                    color: #ff4757;
                    cursor: pointer;
                }
                h1 {
                    color: var(--main-text);
                    margin-bottom: 25px;
                    font-family: "Nunito", serif;
                }
            }
            section {
                color: var(--main-text);
                p#danger {
                    border: 1px solid var(--red);
                    border-radius: 10px;
                    padding: 15px;
                }
                .component {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 15px 0px;
                    font-size: 18px;
                    color: var(--main-text);
                    select {
                        border: 0;
                        cursor: pointer;
                        outline: none;
                        font-size: 18px;
                        background: none;
                        border: 1px solid var(--main-text);
                        color: var(--main-text);
                        width: 150px;
                        padding: 5px;
                        border-radius: 10px;
                        option {
                            background-color: var(--background);
                            border: 0;
                            font-size: 18px;
                            cursor: pointer;
                            border-radius: 10px;
                        }
                    }
    
                    button {
                        color: var(--main-text);
                        border: 0;
                        outline: none;
                        background: none;
                        font-size: 18px;
                        width: 150px;
                        border: 1px solid var(--main-text);
                        padding: 5px 18px;
                        cursor: pointer;
                        transition: .25s;
                        border-radius: 10px;
                    } button:hover {
                        background-color: var(--main-text);
                        color: var(--background);
                    }
    
                    .checkbox .switch {
                        display: inline-block;
                        height: 34px;
                        position: relative;
                        width: 60px;
                    } .checkbox .switch input {
                        display:none;
                    } .checkbox .slider {
                      background-color: #ccc;
                      bottom: 0;
                      cursor: pointer;
                      left: 0;
                      position: absolute;
                      right: 0;
                      top: 0;
                      transition: .4s;
                    } .checkbox .slider:before {
                      background-color: #fff;
                      bottom: 4px;
                      content: "";
                      height: 26px;
                      left: 4px;
                      position: absolute;
                      transition: .25s;
                      width: 26px;
                    } .checkbox input:checked + .slider {
                      background-color: #66bb6a;
                    } .checkbox input:checked + .slider:before {
                      transform: translateX(26px);
                    } .checkbox .slider.round {
                      border-radius: 34px;
                    } .checkbox .slider.round:before {
                      border-radius: 50%;
                    }        
                }
                .danger {
                    color: var(--red);
                }
            }
            footer {
                display: flex;
                justify-content: space-between;
                button#modal-button {
                    outline: 0;
                    border: 0;
                    background: none;
                    font-size: 18px;
                    width: 48%;
                    margin-top: 25px;
                    padding: 15px;
                    border: 1px solid var(--blue);
                    transition: .25s;
                    cursor: pointer;
                    color: var(--blue);
                    border-radius: 10px;
                } button#modal-button:hover {
                    background-color: var(--blue-hover);
                    color: #f1f2f6;
                } button#modal-button:active {
                    background-color: var(--blue-active);
                    color: #f1f2f6;
                } button#modal-button.apply {
                    border: 1px solid var(--red);
                    color: var(--red);
                    background: none;
                } button#modal-button.apply:hover {
                    background-color: var(--red);
                    color: #f1f2f6;
                } button#modal-button.apply:active {
                    background-color: var(--red-active);
                    color: #f1f2f6;
                }
            }
        } footer#saveSettingsFooter {
            display: flex;
            justify-content: space-between;
            button#saveSettingsButton {
                outline: 0;
                border: 0;
                background: none;
                font-size: 18px;
                width: 100%;
                margin-top: 15px;
                padding: 15px;
                border: 1px solid var(--blue);
                color: var(--blue);
                transition: .25s;
                cursor: pointer;
                border-radius: 10px;
                text-transform: capitalize;
            } button#saveSettingsButton:hover {
                color: #f1f2f6;
                background-color: var(--blue-hover);
            } button#saveSettingsButton:active {
                background-color: var(--blue-active);
                color: #f1f2f6;
            }
        }
    }

        modal {
            border-radius: 10px;
            width: 55vw;
            max-height: 750px;
            overflow-y: auto;
            position: absolute;
            background-color: var(--background);
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            animation-name: modalOpen;
            animation-duration: .25s;
            header {
                button#modal-close {
                    float: right;
                    outline: 0;
                    border: 0;
                    background: none;
                    font-size: 18px;
                    transition: .25s;
                    color: var(--main-text);
                } button#modal-close:hover {
                    color: #ff4757;
                    cursor: pointer;
                }
                h1 {
                    font-family: "Nunito", serif;
                    text-transform: capitalize;
                    color: var(--main-text);
                    margin-bottom: 25px;
                    word-wrap: none;
                }
            }
            section {
                p {
                    white-space: break-spaces;
                    font-size: 18px;
                    color: var(--main-text);
                }
                h3 {
                    font-family: "Nunito", serif;
                    font-size: 22px;
                    margin: 25px 0 5px 0;
                    color: var(--main-text);
                } h3:nth-child(2) {
                    margin: 0 0 5px 0;
                }
            }
        }
    }

notifications {
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 25px;
    z-index: 4;
    display: flex;
    align-items: end;
    flex-direction: column;
    notice {
        pointer-events: all;
        margin: 5px 0;
        display: flex;
        align-items: center;
        background-color: var(--secondary);
        border: 1px solid var(--hover);
        animation-name: noticeCreate;
        animation-duration: .25s;
        border-radius: 10px;
        max-width: 550px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        color: #1e272e;
        content {
            justify-self: center;
            color: var(--main-text);
            h1 {
                font-size: 18px;
            }
            p {
                max-width: 400px;
                white-space: break-spaces;
                a {
                    color: #70a1ff;
                    text-decoration: none;
                } a:hover {
                    text-decoration: underline;
                }
            }
        }

        span.icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            height: 50px;
            width: 50px;
            font-size: 26px;
            margin: 15px;
            border-radius: 10px;
        }

        button {
            background: none;
            outline: 0;
            border: 0;
            margin: 0 15px 0px 15px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 50px;
                font-size: 26px;
                border-radius: 10px;
                transition: .25s;
                cursor: pointer;
                color: #57606f;
            }
        } button:hover span {
            background-color: #fff;
        }
    }
}

homepage {
    animation-name: contentLoad;
    animation-duration: .15s;
    h1 {
        font-family: "Nunito", serif;
        font-size: 36px;
        margin: 75px 5px 15px 5px;
        color: var(--main-text);
        font-weight: bold;
    } h2 {
        font-family: "Nunito", serif;
        font-size: 20px;
        margin: 0px 5px 10px 5px;
        color: var(--secondary-text);
        font-weight: normal;
    } container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        article {
            cursor: pointer;
            background-color: var(--secondary);
            width: 400px;
            margin: 5px;
            padding: 25px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            transition: .25s;
            word-wrap: break-word;
            h3 {
                font-family: "Nunito", serif;
                margin: 5px 0px;
                font-size: 24px;
                color: var(--main-text);
            } p {
                font-size: 18px;
                margin: 5px 0px;
                height: 100px;
                padding: 5px 0;
                color: var(--secondary-text);
            } footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                pins {
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--background);
                        height: 25px;
                        width: 25px;
                        border-radius: 50px;
                        font-size: 14px;
                        color: var(--main-text);
                    }
                }
                datetime {
                    margin: 5px 0px;
                    align-self: end;
                    color: var(--secondary-text);
                }
            }
        } article:hover {
            transform: translateY(-5px);
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        }
    }
}

@media (max-width: 750px) {
    aside {
        width: 100%; 
        position: absolute;
        z-index: 1;
    } modals {
        background {
            modal_settings {
                width: 100%;
                border-radius: 0;
            }
            modal {
                width: 100vw;
                border-radius: 0;
            }
        }
    } notifications {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        width: 100%;
        bottom: auto;
        notice {
            animation-name: noticeCreateMobile;
            display: flex;
            width: 100%;
            button {
                margin-left: auto;
            }
        }
    }
}

/* Animations */
@keyframes modalOpen {
    from {
        transform: translateY(25px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalClose {
    from {
        transform: translateY(0);
        opacity: 1;
    } to {
        transform: translateY(25px);
        opacity: 0;
    }
}

@keyframes modalOpen-background {
    from {
        backdrop-filter: blur(0px);
        opacity: 0;
    } to {
        backdrop-filter: blur(5px);
        opacity: 1;
    }
}

@keyframes modalClose-background {
    from {
        backdrop-filter: blur(5px);
        opacity: 1;
    } to {
        backdrop-filter: blur(0px);
        opacity: 0;
    }
}

@keyframes noticeCreate {
    from {
        transform: translateX(25px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes noticeRemove {
    from {
        transform: translateX(0px);
        opacity: 1;
    } to {
        transform: translateX(25px);
        opacity: 0;
    }
}

@keyframes noticeCreateMobile {
    from {
        transform: translateY(-25px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes noticeRemoveMobile {
    from {
        transform: translateX(0px);
        opacity: 1;
    } to {
        transform: translateY(-25px);
        opacity: 0;
    }
}


@keyframes menuOpen {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes menuClose {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}

@keyframes contentLoad {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes contentRemove {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

/* @keyframes content {
    from {} to {}
}

@keyframes content {
    from {} to {}
} */


/* 
<form action="">
    <div class="checkbox">
        <label class="switch" for="checkbox">
          <input type="checkbox" id="checkbox"/>
          <div class="slider round"></div>
        </label>
    </div>
</form>
*/